/* color variables */

:root {
  --dark-blue: #1f1f3d;
  --yellow: #ffc30c;
  --white: #ffffff;
  --orange: #ef4a23;
  --blue: #587a8a;
  --grey-blue: #c7d3d8;
}

/* all */

* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}

/* page header */

.page-header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  color: var(--white);
}

.page-title {
  font-size: 2.5em;
  font-weight: 800;
  margin-left: 5%;
}

.span {
  color: var(--yellow);
}

.search-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 35%;
  margin-right: 1%;
}

.search-button {
  height: 113%;
  width: 10%;
  border: 0px;
  background-color: var(--grey-blue);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 8px;
  outline: none;
}

.search-input {
  font-size: 1.5em;
  height: 100%;
  width: 90%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  padding-left: 10px;
}

.main-container {
  width: 100%;
  height: 90%;
  display: inline-flex;
}

/* left input column */

.left-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 33%;
  background-color: var(--blue);
  border-right: 4px solid var(--dark-blue);
  overflow: scroll;
}

.task-input-container {
  margin-top: 5%;
  height: 60%;
  width: 90%;
  /* border: 2px solid var(--dark-blue); */
}

.list-title {
  color: var(--grey-blue);
  font-weight: 600;
}

.list-title-input {
  font-size: 1.5em;
  height: 12%;
  width: 99%;
  margin-top: 2%;
  border: 2px solid var(--dark-blue);
  border-radius: 5px;
  outline: none;
}

.task-item {
  margin-top: 5%;
  color: var(--grey-blue);
  font-weight: 600;
}

.create-task-container {
  display: flex;
  margin-top: 2%;
  width: 100%;
}

.create-task-name {
  margin-left: 3%;
}

.task-item-container {
  display: inline-flex;
  justify-content: center;
  height: 12%;
  width: 100%;
  margin-top: 2%;
}

.task-item-input {
  font-size: 1.5em;
  height: 100%;
  width: 87%;
  border-left: 2px solid var(--dark-blue);
  border-top: 2px solid var(--dark-blue);
  border-bottom: 2px solid var(--dark-blue);
  border-right: 0.5px solid var(--dark-blue);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}

.add-task-btn {
  height: 112%;
  width: 13%;
  background-color: var(--dark-blue) ;
  border: 2px solid var(--dark-blue);
  color: #f3f6f7;
  font-size: 35px;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.button-container {
  margin-top: 5%;
  height: 40%;
  width: 90%;
  display: flex;
  flex-direction: column;

}

.create-list-btn,
.clear-all-btn,
.filter-btn {
  height: 20%;
  width: 99%;
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
  border-radius: 5px;
  margin-top: 5%;
  font-size: 1.5em;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.create-list-btn:hover,
.clear-all-btn:hover,
.search-button:hover,
.add-task-btn:hover {
  background-color: var(--yellow);
  color: var(--dark-blue);
  transition: background-color 0.5s;
}

.filter-btn:hover {
  background-color: var(--orange);
  color: var(--dark-blue);
  transition: background-color 0.5s;
}


/* displayed list column */

.right-main {
  height: 100%;
  width: 66%;
  background-color: var(--white);
  overflow: scroll;
}

.task-card-container {
  width: 40%;
  height: 45%;
  border: 2px solid var(--grey-blue);
  padding: 2%;
  margin: 5%;
}

.task-card-title {
  color: var(--dark-blue);
  font-weight: 600;
}

.task-card-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  border-top: 1px solid var(--grey-blue);
  padding-top: 2%;
}

.card-item-container {
  display: inline-flex;
  margin-top: 3%;
}

.task-card-item {
  margin-left: 2%;
  font-size: 1.5em;
}

.checkbox-img {
  width: 20px
}

.card-option-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 25%;
  border-top: 1px solid var(--blue);
}

.urgent-img {
  width: 25px;
  cursor: pointer;
}
.delete-list-img {
  width: 30px;
  cursor: pointer;
}

.delete-task-img {
  width: 20px;
  cursor: pointer;
}

.urgent-container,
.delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}